:root {
  //colors
  --background-color: #141529;
  --text-color: #ffffff;
  --border-color: #979393;
  --link-bg-color: #4a4c4f;
  --link-bg-color-hover: #5b5e64;
  --active-nav-link-color: #fbbf24;
  --button-bg-color: #0165d2;
  --button-text-color: #fff;

  --bg-toggle-color: #2e2e2e;

  --bg-skill-matched-color: #61a561;

  --black-white-color: #fff;
  --hover-toggle-color: #b6bfd0;

  --border-size: 2px;
  --border-radius: 3px;
  //sizes
  --p-text-size: 1.3rem;
}

/* (light mode) */
[data-theme="light"] {
  //colors
  --background-color: #fff;
  --bg-toggle-color: #fff;
  --text-color: #000000;
  --border-color: #e1dddd;
  --button-bg-color: #3470c4;
  --button-text-color: #fff;
  --link-bg-color: #dfe6f4;
  --link-bg-color-hover: #d1dbef;
  --active-nav-link-color: #0748dfb7;
  --black-white-color: #000;
  --hover-toggle-color: #444850;
}
