.textArea {
  background-color: var(--bg-toggle-color); /* Dark background color  #2e2e2e*/
  color: var(--text-color); /* Light text color for contrast */
  border: 1px solid #444; /* Subtle border to match dark theme */
  padding: 16px; /* Padding inside the textarea */
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 16px; /* Adjust text size */
  width: 100%; /* Full width to fit its container */
  box-sizing: border-box; /* Include padding and border in element's total width */
  resize: none; /* Disable resizing */
  outline: none; /* Remove outline on focus */
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 16px;
}

/* Optional: Focus state for better user experience */
.textArea:focus {
  border-color: #beb5b5; /* Change border color on focus */
}

.aiResponseContainer {
  font-size: 1.3rem;
  line-height: 1.5rem;
  background-color: var(--bg-toggle-color);
  border-radius: 5px;
  padding: 16px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  a {
    color: white;
  }
}
