.postCard {
  display: flex; // flex
  flex-direction: column; // flex-col
  color: var(--text-color); // text-white
  width: 100%; // w-full
  margin-left: auto; // mx-auto (center horizontally)
  margin-right: auto;
  margin-top: 0.25rem; // mt-1 (1 * 0.25rem = 0.25rem)
  border: 4px solid var(--border-color); // border-4 border-white
  padding: 1.25rem; // p-5 (5 * 0.25rem = 1.25rem)
  border-radius: 0.5rem; // rounded-lg (lg = 0.5rem)
  max-width: 1500px;
  margin-top: 36px;

  @media (min-width: 620px) {
    width: 80%; // ss:w-4/5 (4/5 = 80%)
  }
}
