.postLinks {
  display: flex;
  flex-direction: column;
  background-color: var(--link-bg-color);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: 720px) {
    width: 50%; // ss:w-4/5 (4/5 = 80%)
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
  }

  li {
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.3s ease-in-out;
    padding: 16px;

    &:hover {
      background-color: var(--link-bg-color-hover);
    }
  }
}
